@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Graphik';
  src: url('./assets/fonts/Graphik-Regular-Trial.otf') format(truetype);
}

@font-face {
  font-family: 'GraphikBold';
  src: url('./assets/fonts/Graphik-Semibold-Trial.otf') format(truetype);
}

@font-face {
  font-family: 'GraphikMedium';
  src: url('./assets/fonts/Graphik-Medium-Trial.otf') format(truetype);
}

*{
  font-family: 'Graphik';
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}